{% extends 'base.html.twig' %}
{% block title %}Thank you!{% endblock %}  
{% block body %}
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Thank you!</h1>
        <p class="lead">Thanks for getting in touch with us.</p>
    </div>
    </div>
{% endblock %}